.article__sharing {
  margin: map-get($spacers, 4) 0;
}
.article__section-navigator {
  padding-top: map-get($spacers, 3);
  margin: map-get($spacers, 4) 0 map-get($spacers, 3) 0;
  word-wrap: break-word;
  @include split-line(top, 4px);
  & > .previous, & > .next {
    width: 50%;
    & > span {
      font-weight: map-get($base, font-weight-bold);
      color: $text-color-l;
    }
    & > a {
      display: block;
      @include link-colors($text-color, $main-color-1);
    }
  }
  & > .previous {
    float: left;
    padding-right: map-get($spacers, 2);
  }
  & > .next {
    float: right;
    padding-left: map-get($spacers, 2);
    text-align: right;
  }
}

// copy to clipboard
/**
 * Codeblock.
 */
pre.highlight {
  padding: 8px 12px;
  position: relative;

  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  &.highlight {
    border-left: 15px solid #35383c;
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;

    &,
    code {
      font-size: 12px;
    }
  }

  // copy code to clipboard
  .copy {
    color: rgba(255, 106, 0, 0.8);
    position: absolute;
    right: 1.2rem;
    top: .7rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}

